/* app/assets/stylesheets/custom.css */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login {
  background: #e2e2e2;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.div-center {
  width: 400px;
  height: 400px;
  background-color: #fff;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
  padding: 1em 2em;
  border-bottom: 2px solid #ccc;
  display: table;
}

div.content {
  display: table-cell;
  vertical-align: middle;
}

.form-login {
  display:none;
}

.field_with_errors {
  padding: 2px;
}

.date-of-brith-label {
  display: block; /* Hiển thị nhãn "Day Of Brith" trên một dòng */
}

.date-select {
  display: inline-block; /* Hiển thị các phần tử select trên cùng một dòng */
  margin-top: 0.5rem; /* Khoảng cách giữa nhãn và lựa chọn ngày/tháng/năm */
}